MCT/Coursework 1/Q1Latex/build/description.aux
MCT/Coursework 1/DEsolver.py
MCT/Coursework 1/Q1Latex/build/description.fdb_latexmk
MCT/Coursework 1/Q1Latex/build/description.fls
MCT/Coursework 1/Q1Latex/build/description.log
MCT/Coursework 1/Q1Latex/build/description.synctex.gz
Science Article/ArticleTemplate/build/main-blx.bib
Science Article/ArticleTemplate/build/main.aux
Science Article/ArticleTemplate/build/main.bbl
Science Article/ArticleTemplate/build/main.blg
Science Article/ArticleTemplate/build/main.fdb_latexmk
Science Article/ArticleTemplate/build/main.fls
Science Article/ArticleTemplate/build/main.log
Science Article/ArticleTemplate/build/main.run.xml
Science Article/ArticleTemplate/build/main.synctex.gz
Science Article/NewspaperTemplate/build/newsletter_1.aux
Science Article/NewspaperTemplate/build/newsletter_1.fdb_latexmk
Science Article/NewspaperTemplate/build/newsletter_1.log
Science Article/NewspaperTemplate/build/newsletter_1.fls
Science Article/NewspaperTemplate/build/newsletter_1.out
Science Article/NewspaperTemplate/build/newsletter_1.synctex.gz
