MCT/Coursework 1/Q1Latex/build/description.aux
MCT/Coursework 1/DEsolver.py
MCT/Coursework 1/Q1Latex/build/description.fdb_latexmk
MCT/Coursework 1/Q1Latex/build/description.fls
MCT/Coursework 1/Q1Latex/build/description.log
MCT/Coursework 1/Q1Latex/build/description.synctex.gz
